<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Login
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="이 페이지는 Jinja2와 서버사이드 렌더링에 대한 정보를 제공합니다.">
        <meta name="keywords" content="Jinja2, 서버사이드 렌더링, 웹 개발, 템플릿 엔진">
        <!-- Tailwind CSS CDN -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="bg-gray-100 h-screen flex flex-col justify-center items-center">

        <h1 class="text-4xl font-bold mb-4">KRAFTTO</h1>

        <div class="bg-white p-8 rounded-lg shadow-md w-1/2">
            <h3 class="text-2xl font-semibold mb-4">
                WEEK_{{ weeknumber }}  MISSION
            </h3>
            <div >
                <p class="text-center">미션 완료</p>
                <div class="border rounded p-4 mt-4">
                    <p>수고했어요!</p>
                    <p> 당신의 마니또에 대한 힌트는 {{ hint_weeknumber }} 입니다.</p>
                    <div class="text-center">
                        <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">돌아가기</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
