<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            KRAFTTO main page
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="이 페이지는 Jinja2와 서버사이드 렌더링에 대한 정보를 제공합니다.">
        <meta name="keywords" content="Jinja2, 서버사이드 렌더링, 웹 개발, 템플릿 엔진">
    </head>
    <body>
        <h1>KRAFTTO</h1>
        <div>
            <h3> 크래프또 설명</h3>
            <div>
                <p>당신은 누군가의 마니또가 됩니다. 마니또인걸 들키지 않고 도움을 주세요 </p>
                <p>당신을 돕는 마니또가 존재합니다. 찾아보세요</p>
                <p>매주 마니또 미션이 주어집니다 미션을 완수하면 당신의 마니또에 대한 힌트가 주어집니다.</p>
                <button>Start!</button>
            </div>
        </div>
    </body>
</html>