<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Login
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="이 페이지는 Jinja2와 서버사이드 렌더링에 대한 정보를 제공합니다.">
        <meta name="keywords" content="Jinja2, 서버사이드 렌더링, 웹 개발, 템플릿 엔진">
        <!-- Tailwind CSS CDN -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body class="bg-gray-100 h-screen flex flex-col justify-center items-center">

        <h1 class="text-4xl font-bold mb-4">KRAFTTO</h1>
        <div class="bg-white p-8 rounded-lg shadow-md w-1/2">

            {% if is_manitto %}
            <h3 class="text-2xl font-semibold mb-4">
                {% if user == None %}
                당신은 아직 마니또가 없습니다. 룰렛을 돌려주세요.
                <a href="{{ url_for('main.roulette_func') }}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" href="">룰렛 돌리기</a>
                {% else %}
                당신은 {{ user.person_i_help }}의 마니또입니다.
                {% endif %}
            </h3>
            <div class="border rounded p-4 mt-4">
                <ul class="list-disc pl-5 mb-4">
                    <li class="mb-2">{{ first_hint }}</li>
                    <li class="mb-2">{{ second_hint }}</li>
                    <li class="mb-2">{{ third_hint }}</li>
                </ul>
            </div>
            {% else %}
            <h3 class="text-2xl font-semibold mb-4">
                당신은 아직 도울 대상이 없습니다 룰렛을 돌려주세요!
            </h3>
            <button onclick="startRoulette()">룰렛 시작</button>
            <!-- 전체 참가자 리스트를 표시하고, 룰렛을 실행하여 무작위로 선택된 참가자의 데이터를 저장하는 로직이 필요합니다. -->
            <!-- 이 부분은 JavaScript 및 서버 로직이 필요합니다. -->
            {% endif %}

            <h3 class="text-2xl font-semibold mb-4">미션 확인</h3>

            <div class="border rounded p-4 mt-4 text-center space-y-4">
                <a class="block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 w-full text-center" href="{{ url_for('mission.mission_func', weeknumber=1) }}">1주차 미션</a>
                <a class="block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 w-full text-center" href="{{ url_for('mission.mission_func', weeknumber=2) }}">2주차 미션</a>
                <a class="block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 w-full text-center" href="{{ url_for('mission.mission_func', weeknumber=3) }}">3주차 미션</a>
                <a class="block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 w-full text-center" href="{{ url_for('mission.mission_func', weeknumber=4) }}">4주차 미션</a>

            </div>

        </div>
    </body>
</html>
