<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Login
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="이 페이지는 Jinja2와 서버사이드 렌더링에 대한 정보를 제공합니다.">
        <meta name="keywords" content="Jinja2, 서버사이드 렌더링, 웹 개발, 템플릿 엔진">
    </head>
    <body>
        <h1>KRAFTTO</h1>
        <div>
            <h3>당신은 {{ name }} 의 마니또입니다.</h3>
            <ul>
                <li>first_hint</li>
                <li>second_hint</li>
                <li>third_hint</li>
            </ul>
        </div>
        <div>
            <button>1주차 미션</button>
            <button>2주차 미션</button>
            <button>3주차 미션</button>
            <button>4주차 미션</button>
        </div>
    </body>
</html>
