<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Sign Up
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="이 페이지는 Jinja2와 서버사이드 렌더링에 대한 정보를 제공합니다.">
        <meta name="keywords" content="Jinja2, 서버사이드 렌더링, 웹 개발, 템플릿 엔진">
        <!-- Tailwind CSS CDN -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body class="bg-gray-100 h-screen flex flex-col justify-center items-center">

        <h1 class="text-4xl font-bold mb-4">KRAFTTO</h1>

        <div class="bg-white p-8 rounded-lg shadow-md w-1/2">
            <form method="post" class="space-y-4">
                <h3 class="text-2xl font-semibold mb-4">
                    회원가입
                </h3>
                <div class="border rounded p-4 mt-4">

                    <div class="flex items-center space-x-4 space-y-4">
                        <label for="username" class="w-1/5 text-right">이름 : </label>
                        <input type="text" name="username" id="username" placeholder="Username을 입력하세요" required class="w-3/5 p-2 border rounded">
                    </div>
                    <div class="flex items-center space-x-4 space-y-4">
                        <label for="email" class="w-1/5 text-right">이메일 : </label>
                        <div class="w-3/5">
                            <input type="text" name="email" id="email" placeholder="E-mail을 입력하세요" required class="w-full p-2 border rounded">
                            {% if check_email == False %}
                                <p class="text-red-500 text-xs mt-1">이메일 형식을 지켜주세요.</p>
                            {% elif check_user_duplication == False %}
                                <p class="text-red-500 text-xs mt-1">이미 존재하는 이메일입니다.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex items-center space-x-4 space-y-4">
                        <label for="password" class="w-1/5 text-right">비밀번호 : </label>
                        <div class="w-3/5">
                            <input type="password" name="password" id="password" placeholder="Password를 입력하세요" required class="w-full p-2 border rounded">
                            {% if check_password == False %}
                                <p class="text-red-500 text-xs mt-1">비밀번호는 최소 8자 이상, 특수문자 1개 이상, 영문 대소문자 또는 숫자 1개 이상 입력해주세요.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex items-center space-x-4 space-y-4">
                        <label for="passwordConfirm" class="w-1/5 text-right">비밀번호 확인 : </label>
                        <div class="w-3/5">
                            <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Password Confirm을 입력하세요" required class="w-full p-2 border rounded">
                            {% if check_password_confirm == False %}
                                <p class="text-red-500 text-xs mt-1">비밀번호와 일치하지 않습니다.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- 힌트 부분 시작 -->
                <h3 class="text-2xl font-semibold mt-4 mb-4">내 마니또에게 주는 힌트</h3>
                <div class="border rounded p-4 mt-4 ">

                
                    <div class="flex items-center space-x-4 space-y-4">
                        <label for="OS" class="w-1/5 text-right">운영체제 : </label>
                        <input type="text" name="OS" id="OS" placeholder="window or Mac?" required class="w-3/5 p-2 border rounded">
                    </div>
                    <div class="flex items-center space-x-4 space-y-4">
                        <label for="gender" class="w-1/5 text-right">성별 : </label>
                        <input type="text" name="gender" id="gender" placeholder="남성 or 여성?" required class="w-3/5 p-2 border rounded">
                    </div>
                    <div class="flex items-center space-x-4 space-y-4">
                        <label for="junglenumber" class="w-1/5 text-right">정글번호 : </label>
                        <input type="text" name="junglenumber" id="junglenumber" placeholder="홀수 or 짝수?" required class="w-3/5 p-2 border rounded">
                    </div>
                    <div class="text-center mt-4">
                        <input type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" value="Sign Up" href="{{ url_for('signup.signup_func') }}">
                    </div>
                </div>
            </form>

            <div class="flex justify-center">
                <p class="mt-4 text-gray-600 text-right">Already have an account? <a href="{{ url_for('login.login_func') }}" class="text-blue-500">Login</a></p>
            </div>
        </div>
        <script>
            function register() {
            $.ajax({
                type: "POST",
                url: "/signup",
                data: {
                    email: $('#email').val(),
                    password: $('#password').val(),
                    username: $('#username').val(),
                    passwordConfirm: $('#passwordConfirm').val(),
                    OS: $('#OS').val(),
                    gender: $('#gender').val(),
                    junglenumber: $('#junglenumber').val(),
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/login'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }
        </script>
    </body>
</html>
